<ion-header no-border class="ion-no-border p-6">
  <ion-toolbar>
    <ion-title color="dark">Connect bank</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear" color="tertiary">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center size-xs="12">
        <p-input
          [label]="'Card number'"
          [style]="{ 'margin-bottom': '20px' }"
          [placeholder]="'0000 0000 0000 0000'"
          [type]="'text'"
          [value]="bankNumber$ | async"
          (valueChange)="handleChange($event)"
        ></p-input>
      </ion-col>
      <ion-col align-self-center size-xs="6">
        <p-input
          [label]="'Expiration date'"
          [style]="{ 'margin-bottom': '20px' }"
          [placeholder]="'mm/yy'"
          [type]="'date'"
          [value]="expireDate$ | async"
          (valueChange)="handleChange($event)"
        ></p-input>
      </ion-col>
      <ion-col align-self-center size-xs="6">
        <p-input
          [label]="'CVC'"
          [style]="{ 'margin-bottom': '20px' }"
          [placeholder]="'000'"
          [type]="'number'"
          [value]="cvc$ | async"
          (valueChange)="handleChange($event)"
        ></p-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
